.item {
    margin: 10px;
    min-width: 300px;
    min-height: 40vh;
    justify-content: center;
}

.imagen {
    height: 100px;
}

.texto {
    min-height: 10vh;
    padding: 0;
    margin: 0;
}

.contador {
    padding: 0;
    margin: 0;
    justify-content: center;
}