.link {
    text-decoration: none;
    color: black;
}

.card {
    min-width: 300px;
    max-width: 300px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-height: 250px;
}

.imagen {
    height: 100px;
    margin-top: 10px;
    justify-content: center;
}

.texto {
    min-height: 10vh;
    padding: 0;
    margin: 0;
}
