.navbar-custom {
    margin:0;
    background-color: #0000008e;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid wheat;
}

.widget {
    float: right;
}

.submitInput {
    min-width: 50%;
}

.logo {
    font-size: xx-large;
}