.containerImagen {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 10px; 
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 65%;
}

.imagenDetail {
    max-width: 70%;
    max-height: 70%;
}

.columna-derecha {
    padding: 0;
    margin: 0;
}

.superior {
    height: 75vh;
    align-items: center;
}

.inferior {
    height: 10vh;
}

