.itemDetailContainer {
    display: inline-block;
    color: rgb(255, 255, 255);
}

.containerImagen {
    box-shadow: rgba(255, 255, 255, 0.856) 1.95px 1.95px 2.6px;
    margin: 10px; 
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 40vh;
    width: 50%;
}

.imagenDetail {
    max-width: 70%;
    max-height: 70%;
}

.columna-derecha {
    padding: 0;
    margin: 0;
}

.superior {
    height: 65vh;
    align-items: center;
}

.inferior {
    margin: 10px;
    height: 20vh;
    width: 100%;
    background-color: #0F1416;
    justify-content: center;
}

.text-left {
    justify-content: center;
    align-items: center;
}

.container-ItemDetail {
    margin: 0;
    padding: 0;
}
