.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center; 
  background-color: rgb(0, 0, 0);
}


.content-wrap {
  flex: 1;
}

.productList {
    align-items: center;
    margin: auto;
    padding: 20px;
    color: rgb(167, 167, 167);
}